*.pyc
*.swp
*.swo
*.sqlite3
bower_components/
migrations/
__pycache__
.idea/
env/
env_auth/
env_celery/
env_ocr/
*environment.env

*.local
*.log
yarn.lock
.vscode/
.env.sh
credentials.json
celerybeat.pid